TABLE {
  background: #c3bdff;
  border-collapse: collapse;
}

TD {
  text-align: right;
  height: 40px;
  vertical-align: top;
}

TR.even {
  background: #ffcfcf;
}

.block1 {
  width: 150px;
  background: #ccc;
  padding: 300px;
  padding-right: 120px;
  border: solid 1px black;
  float: left;
}

.block2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #fc0;

  border: solid 1px black;
  float: left;

  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
}


.block3 {
  width: 200px;
  background: #fc0;
  padding: 5px;
  border: solid 1px black;
  float: left;
  position: relative;
  top: 40px;
  left: -70px;
}

.valid {
  color: #008000;
  background-color: #0080000f;
}

.invalid {
  color: #f00;
  background-color: #ff00000f;
}

table td
{
  border:2px solid #0000ff;
}
