p {
  background-color: green;
  float: left;
  height: 50px;
  width: 50px;
  margin: 10px;
}

/*div {*/
/*  border: 3px solid gray;*/
/*  padding: 50px;*/
/*  background-color: white;*/
/*}*/

#wrapper p {
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
  margin: 10px;
}
