/*MouseEventInterfaceDOM*/
/*div {*/
/*  background-color: #2ff1f1;*/
/*  height: 100px;*/
/*  width: 100px;*/
/*}*/

/*Mouse Hover*/
/*p {*/
/*  background-color: red;*/
/*  height: 100px;*/
/*  width: 100px;*/
/*}*/

/*MouseEvents*/
/*div {*/
/*  border: 1px solid black;*/
/*  margin: 10px;*/
/*  padding: 10px;*/
/*  float: left;*/
/*  height: 400px;*/
/*  width: 400px;*/
/*}*/

/*#div1 {*/
/*  background-color: red;*/
/*}*/

/*#div2 {*/
/*  background-color: green;*/
/*}*/

/*#div3 {*/
/*  background-color: blue;*/
/*}*/

/*Keyboard*/

/*KeyInfo*/

/*CharCode*/

/*Sample: inputFilter*/
body {
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
}

label {
  width: 150px;
  float: left;
}

/*стиль для span, которые расположены в разметке сразу за input*/
input + span {
  visibility: hidden;
  color: red;
}






