body {
  font-size: 14px;
}

.container {
  margin-top: 10px;
  background: yellow;
}

.col-12 {
  margin-top: 20px;
}

.carousel-indicators li:hover {
  cursor: pointer;
}
.row {
  margin-bottom: 30px;
  min-height: 500px
}
span {
  background: #f5f5f5;
}

.row>div:nth-of-type(odd){
  background: blue;
}
.row>div:nth-of-type(even){
  background: green;
}